
.clickable {
    cursor: pointer;
}


div.rat-grid {

    div.panel-heading, div.filters {
        margin-bottom: 8px;

        .filter-item {
            display: inline-block;
            vertical-align: top;
            margin-right: 8px;
        }

        .input-group {
            max-width: 250px;  // ???
        }

        .form-control {
            width: auto;  // override bootstrap
        }
    }

    div.panel-body {
        padding: 0;  // override bootstrap
    }

    table.table {
        margin-bottom: 0;
        max-width: none;

        thead th.order {
            position: relative;
            cursor: pointer;

            &:after {
                content: "";
                position: absolute;
                top: 3px;
                right: 1px;
                width: 19px;
                height: 19px;
                background: url("../images/grid-sprite.png") no-repeat;
            }

            &.disabled {
                cursor: inherit;
            }

            &.enabled:after {
                background-position: 0 -38px;
            }

            &.asc:after {
                background-position: 0 0;
            }

            &.desc:after {
                background-position: 0 -19px;
            }

            &.disabled:after {
                background-position: 0 -100px;
                cursor: inherit;
            }
        }
    }

    p.no-data {
        margin: 20px 0;
        text-align: center;
    }

    div.page-nav {

        ul.pagination {  // override bootstrap
            margin: 6px 0 0 0;

            a {
                cursor: pointer;
            }

            &>li>a, &>li>span {
                float: none;
            }
        }

        div.info {
            margin-top: 5px;
        }
    }
}
