
div.rat-image-field {

    input[type="file"] {
        display: none;
    }

    div.no-image, div.preview, div.image, div.error {
        cursor: pointer;
    }

    div.gallery {

        div.image, div.no-image {
            display: inline-block;
            vertical-align: top;
            margin: 0 12px 12px 0;
        }

        div.no-image {
            background: #eee;
            border: 1px solid #666;

            p {
                // http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
            }
        }

        div.image {
            position: relative;
            border: 1px solid #666;

            &.selected {
                border: 1px solid #337ab7;
                box-shadow: 0px 1px 4px 2px #337ab7;
            }

            div.buttons {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 32px;
                background: rgba(0, 0, 0, 0.5);

                span.glyphicon {
                    float: right;
                    margin: 8px 10px 0 0;
                    font-size: 16px;
                    color: white;
                    cursor: pointer;
                }

                a:hover, a:active {
                    span.glyphicon.glyphicon-remove {
                        color: red;
                    }
                }
            }

            &:hover div.buttons {
                display: block;
            }
        }
    }
}
