
div.rat-select {
    position: relative;

    ul {
        list-style: none;
        padding-left: 0;
    }

    ul.selected {
        display: flex;
        flex-flow: row wrap;
        min-height: 38px;
        margin-bottom: 0;
        border: 1px solid #ccc;
        border-radius: 4px;

        li {
            flex: 0 0 auto;
            margin: 6px 0 6px 8px;
            color: white;
            background-color: #286090;
            border-color: #204d74;

            button {
                color: black;
            }

            span {
                padding: 0 5px;
                font-size: 0.95em;
            }
        }

        input {
            flex: 1 0 auto;
            min-width: 40px;
            height: 38px;
            margin-left: 4px;
            border: none;
        }
    }

    div.dropdown {
        position: absolute;
        z-index: 1;
        width: 100%;
        max-height: 500px;
        overflow-y: scroll;
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);

        h6 {
            font-weight: bold;
        }

        ul {
            li {
                padding: 2px 6px;

                &.selectable:not(.disabled) {
                    cursor: pointer;

                    &:hover {
                        background: #eee;
                    }
                }
            }
        }
    }
}
